/* variables */
:root{
    --primary:#ecd862
}

/* reset */
body,p,a,ul,li{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
li{
    list-style-type: none;
}

/* base styles */
body{
    background-color: var(--primary);
}


/* fonts */
/* @font-face {
    font-family: myFirstFont;
    src: url(assets/fonts/fontName.ttf);
  } */

/* mobile styles */

/* small tablet styles */
@media screen and (min-width:480px){

}
/* large tablets & laptop styles */
@media screen and (min-width:780px){

}